{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Add A New Cafe{% endblock %}

{% block head %}
   {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
    {% if formSubmitted == True %}
        <h1> Thank you for your submission!</h1>
    {% else %}
      <h1>Add a new cafe into the database</h1>

      <!-- This is where your WTForm will go -->
      {{ wtf.quick_form(form, novalidate = True) }}

	  <p class="space-above"><a href="{{url_for('cafes')}}">See all cafes</a></p>

    {% endif %}
    </div>
  </div>
</div>

{% endblock %}


